<label>Server Name</label>
<label>With Event Binding</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" />
<label>With Two-Way-Binding</label>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>
  This is the value of the property serverName at this moment using StringInterpolation: <span style="font-weight:bold">{{ serverName }}</span>
</p>
<hr />
<button class="btn btn-primary" (click)="onCreateServer()" [disabled]="!allowNewServer">
  Add Server
</button>
<p>
  This is the value of the property allowNewServer at this moment using StringInterpolation: {{ allowNewServer }}
</p>
<p>
  This is the value of the property allowNewServer at this moment using Property Binding: <span [innerText]="allowNewServer"></span>
</p>
<p>
  This is the value of the property serverCreationStatus at this moment using StringInterpolation: {{ serverCreationStatus }}
</p>
<p *ngIf="serverCreated; else noServer">
  This is shown by the directive ngIf. Server was created, server name is {{ serverName }}
</p>
<ng-template #noServer>
  <p>
    This is shown by the directive ngIf Else. No server was created.
  </p>
</ng-template>
<hr />
<app-server></app-server>
<hr />
<app-server></app-server>
